
/* Свойства ТОЛЬКО тегов  которые находятся внутри тега с классом .Fruits
и в порядке вложения одного в другого. */

.Fruits ol{
    color: #ccc;
    background-color: #f99;
    padding: 0.5em;  
    font-size: 3em;
    margin-left: 1em;
    margin-right: 1em;

}

.Fruits ol li{
   
    list-style-position: inside; /* ДЛЯ УВЕЛИЧЕНИЯ РАССТОЯНИЯ МЕЖДУ МАРКЕРОМ И ТЕКСТОМ
                                    и размещением на одном фоне
    
                                    маркер вложен в текст, это позволяет сделать 
                                    расстояние между ними регулируемым. Как это сдеалть
                                    через псевдо-элемент ::marker ::befor  я не разобрался 
                                    ХОТЯ ВО ВТОРОМ ЗАДАНИИ НЕМНОГО РАЗОБРАЛСЯ*/
    background-color:  #c66;
    
    padding-left: 0.5em;
    padding-top: 0.2em; 
    padding-bottom: 0.2; 
   
    height: 1.35em ;
    
    margin: 0.6em;  
   
     
    
}


.Fruits ol li div{
    
    display: inline;           /* DIV это блочный тег, в отличие от SPAN, надеялся получится его встроить в блок LI
                                по высоте автоматически(нужным свойстом), чтобы как в образце граница его сливается с границей LI,
                                но, к сожалению, не удалось автоматически - только подбор высоты тега LI и отступы
                                Потрачено ... часов! Больше не могу себе позволить! Наверняка есть простое решение*/
    background-color: #933;
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin: 0em; 
    
    /* |---------------------------------------------------------------------------------------------------------|
       |----------------------ВЫРАВНИВАЕМ ПО ВЫСОТЕ ТЕГИ LI И DIV -----------------------------------------------|
       |---------------------------------------------------------------------------------------------------------|
    */
    
    /* border: 0; не влияет, но почему-то поля тега DIV и LI не сливаются, а LI чуть снизу и сверху выступает*/

    /* height: 100%; при использовании display: inline; это не работает*/
    /* ОКАЗЫВАЕТСЯ display:inline / block это и есть ПЕРЕВОД в СТРОЧНЫЙ / БЛОЧНЫЙ тег*/
    
/* DIV строчный  ТАКЖЕ ОРИЕНТИРУЕТСЯ НА ВЫСОТУ ТЕКСТА И ЕСЛИ ДОБАВИТЬ 0.02em, ТО ПО ВЫСОТЕ И НИЗУ СОВПАДАЮТ */

    padding-top: 0.22em; 
    padding-bottom: 0.22em; 

    
   

}




