
/* Свойства ТОЛЬКО тегов  которые находятся внутри тега с классом .Fruits
и в порядке вложения одного в другого. */

.Fruits ol{
    color: #ccc;
    background-color: #f99;
    padding: 0.5em;  
    font-size: 3em;
    margin-left: 1em;
    margin-right: 1em;

}

.Fruits ol li{
   
    list-style-position: inside; /* ДЛЯ УВЕЛИЧЕНИЯ РАССТОЯНИЯ ОТ МАРКЕРА
    
                                    маркер переносим к тексту, это позволяет сделать 
                                    расстояние между ними регулируемым. Как это сдеалть
                                    через псевдо-элемент ::marker ::befor  я не разобрался 
                                    попытку закомментирую в другом html файле*/
    background-color:  #c66;
    
    padding-left: 0.5em;
    padding-top: 0; 
    padding-bottom: 0.2em;  /* Высоту задем относительно высоты текста, тег DIV также ориентируется на текст */

    margin: 0.6em;  
   
     
    
}


.Fruits ol li div{
    
    display: inline;           /* Запрещаем перенос строки
                                DIV это блочный тег, в отличие от SPAN, надеялся получится его встроить в блок LI
                                по высоте автоматически(нужным свойстом), чтобы как в образце граница его сливается с границей LI,
                                но, к сожалению, не удалось автоматически - только подбор высоты тега LI и отступы
                                Потрачено ... часов! Больше не могу себе позволить! Наверняка есть простое решение*/
    background-color: #933;

    padding-bottom: 0.22em;
    padding-top: 0.02em;
    

    /* height: 100%; при использовании display: inline; это не работает*/

}




