
{% extends 'base.html' %}
{% load static %}
    
{% block content %}

<!-- Основной контент -->

<div class="container mt-5">
    <h1>Игра в "КОРОВ-БЫКОВ"</h1>
    <p>Загадано число из : <span id="selectedNumber"></span> цифр. Вам нужно их отгадать.</p>
    <p>В подбираемом числе нельзя прописать одинаковые цифры</p>
    <p>"Коровы" - количество цифр угаданных, но не на своем месте</p>
    <p>"Быки" - количество цифр угаданных и на своем месте</p>
    
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Колонка игры -->
        <div class="col-12 col-md-8 game-column">
            
            <div class="table-game"  >
                <button type="button" class="btn btn-primary" id ='openModalButton'  > Начать новую игру</button>
                <!--<div class="table-game">  чтобы таблица продолжалась после автозаполнения   -->
                
                  <div class="table-row">
                    <div class="table-col">ЧИСЛО</div>
                    <div class="table-col">
                      <img class = "cow-bull-image" src="{% static 'img/system/cow.png' %}" alt = 'cow'> /  
                      <img class = "cow-bull-image" src="{% static 'img/system/bull.png' %}" alt = 'bull'>
                    </div>
                    <div class="table-col">ШАГ</div>
                  </div>
                 
                  <div class="table-row " id = "div-table-interactive">
                    <div class="table-col align-left">
                      <input id="userInput" autocomplete="off" class="table-input" aria-label="userInput">
                    </div>
                    <div class="table-col">
                    <span id = 'timetext'> </span> <span id = 'time'></span>  
                    </div>
                    <div class="table-col">
                      <button class="btn btn-primary" onclick="cowBullUserTry(); return false;">Проверить</button>
                    </div>
                  </div>
                
            </div>

          

                
            </div>
        </div>



        <!-- Колонка чата -->
    <div class="col-12 col-md-4">
            <!-- <div class="chat-column"> -->
                <!-- <h4>Чат игроков</h4>
                <div class="chat-messages"> -->
                    <!-- Пример сообщений -->

                    <!-- {% for user in users %}
                        <div class="card" style="width: 18rem;" >
                            <img src={{user.avatar_pic.url}} class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href = "#">{{user}} </a></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                
                    {% endfor %} -->

                        <!-- Структура чата -->
<div class="container-fluid vh-100 d-flex flex-column">
  <!-- Заголовок чата -->
  <div class="row py-3  border-bottom " style='background-color: blsck;' >
      <div class="col d-flex align-items-center">
          <h4 class="mb-0">Семейный чатик</h4>
      </div>
  </div>

  <!-- Область сообщений -->
  <div class="row flex-grow-1 overflow-y-auto" style="background-color: black;">
      <div class="col py-3" style="background-color: black;" id = "div-all-messages-in-chat">
          <!-- Сообщение от других -->

        {% for message in messages %}

          

          <div div-message-id = "{{message.id}}" class="row mb-3  
            {% if user.username == message.to_user.username %} 
            bg-primary rounded-3 
            {% endif %}" >


              <div class="col-auto" >
                  
                  <img 
                    {% if message.is_anonim %}
                      src="{% static 'img/avatar/anonim.png' %}"
                      onclick= "message_to_user_set('Инкогнито'); return false;" 
                    {% else %}
                      src="{{message.from_user.avatar_pic.url}}"
                      name= "{{message.from_user.username}}"
                      onclick= "message_to_user_set(this.getAttribute('name')); return false;"

                    {% endif %}
                      class="image-from"  alt="From">

              </div>
              
                <div class="col">
        
                
                    <div
                    
                    {% if user.username == message.from_user.username %}
                      class="p-3 shadow-sm rounded-3  message-wrapper bg-primary"                      
                    {% else %} 
                      class="p-3 shadow-sm rounded-3  message-wrapper"                       
                    {% endif %}
                      onclick="showContextMenu(event, 'menu-{{ message.id }}')"> <!-- Всплывающее меню УДАЛИТЬ ОТВЕТИТЬ-->
                   
                    

<!--  Красивый зеленый цвет #75b798 !important -->
                      {% if message.is_anonim %}
                      <div class="text-muted small user-name-in-chat" >Инкогнито
                      {% else %}
                      <div class="text-muted small user-name-in-chat">{{message.from_user.username}}
                      {% endif %}

                      {% if message.to_user != NULL%}
                      для {{message.to_user.username}} 
                      {% endif %}
                      </div>

                      {% if message.picture != "" %}
                      <div class="picture-in-message">
                         <img  src = "{{ message.picture.url }}"  alt="picture">
                      </div>
                      {% endif %}

                      <div>{{message}}</div>
                      <div class="text-end text-muted small mt-2">{{message.time_send}}</div>

                      <div class="message-context-menu" id="menu-{{ message.id }}">
                        {% if user.username == message.from_user.username %}
                        <button onclick="deleteMessage('{{ message.id }}' )">🗑️ Удалить</button>
                        {% endif %}
                        <button onclick="replyToMessage('{{ message.from_user.username }}')">↩️ Ответить</button>
                      </div>



                  </div>
              </div>
          </div>

          {% endfor %}

        
          
      </div>
  </div>




  <!-- Ваше сообщение -->



  <!-- Поле ввода -->
   <!-- action="{% url 'send_message' %}"  -->
  <form class="input-group mt-3" method="post" id="chatForm" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="row bg-black border-top py-3 " style="padding-right: 0;">

        <div class ="row">
          <div class = "col">

            <!-- Превью загружаемого изображения -->
       
            <img src="" id="preview" style="display: none;" alt="Preview" class = "preview-img">

          </div>

        </div>


        <div class="row">
          <div class="col">
            <input hidden="true" type="text"  id="input-message-to-username" name="message_to">
            <span id="message-to-username" >  </span> <span id="unset-message-to-username" style="cursor: pointer;" onclick="message_to_user_unset(); return false;"></span>
          </div>
        </div>

        <div class="row row-like-input">
          <div class="col">
          
            <div class="input-group  div-like-input" >
              <img src="{% static 'img/system/upload_image.png' %}"  alt="upimg"  onclick ="upload_image()" class="upload-image-icon" >
              <input type="file" id="fileInput"   name="image"   accept="image/*"   hidden  onchange="previewImage(this); ">
                
              <!-- <label for="input_message">Введите сообщение:</label> -->
              <input type="text" name ="message" class="form-control " placeholder="Введите сообщение..." aria-label="message">
              <button class="btn btn-primary" type="submit">     
                <img src="{% static 'img/system/send_mail.png' %}"  width="30" height="30" alt="send">
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class ="col">
            
            <input type="checkbox" name="is_anonim"  value="true" aria-label="message"><i> отправить инкогнито</i>
          
          </div>
        </div>
            
      </div>
    </form>
  
  </div>
</div>
                   
                    <!-- {% for i in "x"|ljust:"20" %}
                        <div class="message">Игрок{{ forloop.counter }}: Сообщение {{ forloop.counter }}</div>
                    {% endfor %} -->


                </div>
                
            </div>
        </div>
    </div>
</div>



<!-- Модальное окно -->
<div class="modal fade" id="numberModal" tabindex="-1" aria-labelledby="numberModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="numberModalLabel">Выберите число от 3 до 6</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <div class="number-selector">
            <div class="arrow-button" id="increaseButton">▲</div>
            <div class="number-display" id="numberDisplay">3</div>
            <div class="arrow-button" id="decreaseButton">▼</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="confirmButton">Подтвердить</button>
      </div>
    </div>
  </div>
</div>


</body>


<script src="{% static 'js/display.js' %}"></script>
<script src="{% static 'js/function.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/events.js' %}"></script>


{% endblock %}